html {
  background-color: rgb(7, 5, 12);
}

.App {
  font: Arial, Verdana, sans-serif;
  background-color: rgb(7, 5, 12);
  color: rgb(239, 201, 160);
}

/* character search bar */
.character-search {
  text-align: left;
  display: flex;
  justify-content: center;
  flex-basis: 300px;
  margin: auto;
  padding: 20px;
  position: fixed;
  width: 100%;
  background-color: rgb(7, 5, 12);
  z-index: 10;
}
.character-search-realm {
  flex-basis: 200px;
}
.character-search-char {
  margin-left: 20px;
  flex-basis: 200px;
}
.character-search-buttonbar {
  margin-left: 20px;
}

.character-search-char input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 10px 0 10px;
  height: 34px;
  font-size: 16px;
}
.character-search-buttonbar button {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 10px 0 10px;
  height: 34px;
  font-size: 16px;  
}
/* end character search bar */

.rep-grid-container {
  display: flex;
  padding-top: 76px;
}

/* rep grid */
.rep-grid {
  /* background: linear-gradient(to right, #1a0f08, #2d160d, #1a0f08); */
  color: #c09a67;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  /* padding: 0 20px 20px 20px; */
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-basis: 400px;
  justify-content: left;
  margin-left: auto;
  margin-right: auto;
}

.rep-grid-placeholder {
  font-size: 32px;
  font-weight: 400;
  margin: auto;
}

.rep-grid-header {
  position: sticky;
  top: 76px;
  z-index: 9;
  background-color: rgb(7, 5, 12);
  /* background: linear-gradient(to right, #1a0f08, #2d160d, #1a0f08); */
  min-width: 400px;
}

.rep-grid-header-row {
  color: #7e3406;
  font-size: 26px;
  padding-bottom: 20px;
  padding-top: 20px;
  height: 56px;
}

.rep-grid-header-row,
.rep-grid-row {
  display: flex;
  flex-direction: row;
  /* border-bottom: 1px solid rgb(53, 28, 14); */
}

.rep-grid-body {
  /* padding-top: 96px; */
}
.rep-grid-row {
  padding: 4px 0;
}

.rep-grid-column-faction {
  flex-basis: 240px;
  min-width: 240px;
  position: sticky;
  left: 0px;
  z-index: 8;
  background-color: rgb(7, 5, 12);
  padding-left: 20px;
}
.rep-grid-column-header-faction-icon {
  float: right;
  margin-right: 14px;
}
.rep-grid-column-faction-icon {
  float: right;
  margin-right: 20px;
}
.rep-grid-column-rep {
  flex-basis: 300px;
  flex-grow: 1;
  position: relative;
  max-width: 500px;
  min-width: 300px;
}

.rep-grid-column-rep .rep-grid-header-column-rep {
  border-right: 1px solid rgb(84, 43, 25);
  margin-right: 20px;
}

.rep-grid-header-row .rep-grid-column-rep {
  color: #fff;
}
.rep-grid-header-close {
  position: absolute;
  top: 0px;
  right: 35px;
  font-size: 20px;
  color: #7e3406;
  opacity: .5;
  cursor: pointer;
}
.rep-grid-header-close:hover {
  opacity: 1;
}

.rep-grid-header-svg {
  height: 20px;
  width: 20px;
}

.rep-grid-header-ilvl {
  position: absolute;
  top: 5px;
  right: 55px;
  font-size: 14px;
  color: #fac01e;
}

.rep-grid-header-achievement-points {
  position: absolute;
  top: 25px;
  right: 55px;
  font-size: 14px;
  color: #fac01e;
}

.rep-grid-header-column-rep-details {
  margin-top: 4px;
}
.rep-grid-column-rep-realm,
.rep-grid-column-rep-class {
  font-size: 11px;
  line-height: 15px;
}
.rep-grid-column-rep-realm {
  color: #5b616a;
}

.rep-grid-column-faction {
  color: rgb(235, 222, 194);
}
.rep-grid-faction-category-1 {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.rep-grid-faction-category-2 {
  color: #fff;
  font-size: 16px;
}
.rep-grid-faction-category-2 .rep-grid-column-faction-label {
  margin-left: 10px;
}
.rep-grid-faction .rep-grid-column-faction-label {
  margin-left: 20px;
}

.rep-grid-faction-category-1,
.rep-grid-rep-category-1 {
  border-top: 1px solid rgba(255,255,255,.25);
  line-height: 64px;
  padding-top: 10px;
  margin-top: 10px;
}
.rep-grid-faction-category-2,
.rep-grid-rep-category-2 {
  padding-top: 30px;
}

.rep-grid-rep-container {
  display: flex;
}

  /* rep bars */
.rep-grid-rep-bar {
  background-color: #181818;
  border: 1px solid rgba(255,255,255,.2);
  position: relative;
  flex-basis: 120px;
  flex-grow: 1;
}
.rep-grid-rep-bar,
.rep-grid-rep-bar-fill {
  height: 22px;
}

.rep-grid-rep-bar-score {
  color: #fff;
  text-align: left;
  padding-left: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.rep-grid-rep-bar-score {
  font-size: 10px;
  font-weight: bold;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0,0,0,.8);
}
.rep-grid-rep-standing {
  flex-basis: 90px;
  padding-left: 10px;
}

.rep-grid-column-rep-standing-Hated,
.rep-grid-column-rep-standing-Hostile,
.rep-grid-column-rep-standing-Unfriendly,
.rep-grid-column-rep-standing-Stranger {
  color: #d90e03;
}
.rep-grid-column-rep-standing-Hated .rep-grid-rep-bar-fill,
.rep-grid-column-rep-standing-Hostile .rep-grid-rep-bar-fill,
.rep-grid-column-rep-standing-Unfriendly .rep-grid-rep-bar-fill,
.rep-grid-column-rep-standing-Stranger .rep-grid-rep-bar-fill {
  background-color: #d90e03;
  background: linear-gradient(to right, #8e0902, #d90e03);
}
.rep-grid-column-rep-standing-Neutral,
.rep-grid-column-rep-standing-Whelpling,
.rep-grid-column-rep-standing-Acquaintance {
  color: #edba03;
}
.rep-grid-column-rep-standing-Neutral .rep-grid-rep-bar-fill,
.rep-grid-column-rep-standing-Whelpling .rep-grid-rep-bar-fill,
.rep-grid-column-rep-standing-Acquaintance .rep-grid-rep-bar-fill {
  background-color: #edba03;
  background: linear-gradient(to right, #a17f02, #edba03);
}
.rep-grid-column-rep-standing-Friendly,
.rep-grid-column-rep-standing-Honored,
.rep-grid-column-rep-standing-Revered,
.rep-grid-column-rep-standing-Temporal-Trainee,
.rep-grid-column-rep-standing-Timehopper,
.rep-grid-column-rep-standing-Chrono-Friend,
.rep-grid-column-rep-standing-Bronze-Ally,
.rep-grid-column-rep-standing-Epoch-Mender,
.rep-grid-column-rep-standing-Dubious,
.rep-grid-column-rep-standing-Apprehensive,
.rep-grid-column-rep-standing-Tentative,
.rep-grid-column-rep-standing-Ambivalent,
.rep-grid-column-rep-standing-Cordial,
.rep-grid-column-rep-standing-Pal,
.rep-grid-column-rep-standing-Buddy,
.rep-grid-column-rep-standing-Good-Friend {
  color: #0f9601;
}
.rep-grid-column-rep-standing-Friendly .rep-grid-rep-bar-fill,
.rep-grid-column-rep-standing-Honored .rep-grid-rep-bar-fill,
.rep-grid-column-rep-standing-Revered .rep-grid-rep-bar-fill,
.rep-grid-column-rep-standing-Temporal-Trainee .rep-grid-rep-bar-fill,
.rep-grid-column-rep-standing-Timehopper .rep-grid-rep-bar-fill,
.rep-grid-column-rep-standing-Chrono-Friend .rep-grid-rep-bar-fill,
.rep-grid-column-rep-standing-Bronze-Ally .rep-grid-rep-bar-fill,
.rep-grid-column-rep-standing-Epoch-Mender .rep-grid-rep-bar-fill,
.rep-grid-column-rep-standing-Dubious .rep-grid-rep-bar-fill,
.rep-grid-column-rep-standing-Apprehensive .rep-grid-rep-bar-fill,
.rep-grid-column-rep-standing-Tentative .rep-grid-rep-bar-fill,
.rep-grid-column-rep-standing-Ambivalent .rep-grid-rep-bar-fill,
.rep-grid-column-rep-standing-Cordial .rep-grid-rep-bar-fill,
.rep-grid-column-rep-standing-Pal .rep-grid-rep-bar-fill,
.rep-grid-column-rep-standing-Buddy .rep-grid-rep-bar-fill,
.rep-grid-column-rep-standing-Good-Friend .rep-grid-rep-bar-fill {
  background-color: #0f9601;
  background: linear-gradient(to right, #074a00, #0f9601);
}
.rep-grid-column-rep-standing-Exalted,
.rep-grid-column-rep-standing-Timelord,
.rep-grid-column-rep-standing-Appreciative,
.rep-grid-column-rep-standing-Best-Friend {
  color: #28a687;
}
.rep-grid-column-rep-standing-Exalted .rep-grid-rep-bar-fill,
.rep-grid-column-rep-standing-Timelord .rep-grid-rep-bar-fill,
.rep-grid-column-rep-standing-Appreciative .rep-grid-rep-bar-fill,
.rep-grid-column-rep-standing-Best-Friend .rep-grid-rep-bar-fill {
  background-color: #28a687;
  background: linear-gradient(to right, #196855, #28a687);
}

/* end rep grid */

/* classes */

/* Warrior */
.class-1 {
  color: #c69b6d;
}
/* Paladin */
.class-2 {
  color: #f48cba;
}
/* Hunter */
.class-3 {
  color: #aad372;
}
/* Rogue */
.class-4 {
  color: #fff468;
}
/* Priest */
.class-5 {
  color: #f0ebe0;
}
/* Death Knight */
.class-6 {
  color: #c41e3b;
}
/* Shaman */
.class-7 {
  color: #2359ff;
}
/* Mage */
.class-8 {
  color: #68ccef;
}
/* Warlock */
.class-9 {
  color: #9382c9;
}
/* Monk */
.class-10 {
  color: #00ffba;
}
/* Druid */
.class-11 {
  color: #ff7c0a;
}
/* Demon Hunter */
.class-12 {
  color: #a330c9;
}

/* end classes */

/* footer */
.footer {
  padding: 30px;
  text-align: center;
  color: rgba(255,255,255,.3);
}
.footer .footer-feedback {
  font-size: 11px;
  margin-bottom: 5px;
}
.footer .footer-build {
  font-size: 10px;  
}
/* end footer */